/*
Creator: Tanner Thelen
Date created: 1/14/2020
Date last modified: 1/14/2020
*/

h1 {
	font-family: arial, helvetica, sans-serif;
}
nav a:visited{
	color:darkviolet;
}

nav a:active{
	text-decoration: none;
}

nav {
	border-top: thin #DEB887 solid;
	border-bottom: thin #DEB887 solid;
	padding-top: 12px;
	padding-bottom: 12px;
}
nav .btn {
	background-color: #DEB887;
	color: #fef9ff;
}
nav .btn:hover {
	font-weight: bold;
}